*{ 
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    user-select: none;
}
body{ 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
}
.container{ 
    width: 300px;
    height: 800px;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    .box-1{ 
        width: 250px;
        height: 200px;
        border-radius: 30px;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        font-size: 30px;
        font-weight: 900;
        margin-left: 15px;
        color: white;
    }
}
.h1{ 
    width: 280px;
    border-radius: 10px;
    height: 40px;
    background-color: blue;
}
.h2{ 
    width: 280px;
    border-radius: 10px;
    height: 40px;
    background-color: orange;
}
.h3{ 
    width: 280px;
    border-radius: 10px;
    height: 40px;
    background-color: greenyellow;
}
.container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .box {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .box.active {
    opacity: .5;
  }